*{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 auto;
}
#button{
    position: absolute;
    right: 50%;
    top: 30%;
    font-size: large;
}
.wrapper{
    display: none;
}
.wrapper2{
    display: block;
    margin-left:28%;
}
.heading{
    color: blue;
}
.inp1{
    background-color: crimson;
}
.inp2{
    background-color: rgb(27, 220, 20);
}
select{
    background-color: rgb(220, 200, 20);
}